<%- include ("./partials/header") %>
<!-- main header -->
<div class="heading">Browse</div>

<br>

<!-- search bar -->
<div class="search-form">
  <input type="text" id="search-input" name="" value="" placeholder="Enter Text">
  <button type="button" name="button" onclick="search()">Search</button>
</div>

<br>

<!-- container to display all stocks -->
<div id="stocks" class='container'></div>


<!-- Hidden error message -->
<div class="error hidden" id="error-message"> UNABLE TO FETCH DATA </div>


<!-- NAVIGATION  -->
<!-- redirect to profile -->
<button type="button" name="button" id="profileClick">Profile</button>
<!-- proceed to logout -->
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" name="button">Log Out</button>
</form>

<%- include ("./partials/browse_footer") %>
