<%- include ("./partials/header") %>
<div class="user-data">
  <div class="">
    Current User :
  </div>
  <div class="name" id="user-name">
    <%= name %>
  </div>
  <div class="email" id="user-email">
    <%= email%>
  </div>
</div>
<br>
<button onclick="window.open('http://localhost:5000/all')">All</button>
<br>
<form action = "/logout?_method=DELETE" method="POST">
  <button type="submit" name="button">Log Out</button>
</form>

<%- include ("./partials/footer") %>
