<%- include ("./partials/header") %>
<div class="user-data">
  <div class="user-msg">
    Hi, <%= name %>
  </div>
  <div class="email" class="hidden" id="email">
    <%= email%>
  </div>
  <div class="box" class="fund">
    <div id="fund-head">
      Funds:
    </div>
    <div id="funds">

    </div>
  </div>
</div>
<br>
<div class="nav">
  <div id="holdings">
    Holdings
  </div>
  <div id="transactions">
    Transactions
  </div>
  <div id="fav">
    Favorites
  </div>
  <div id="browse">
    Browse
  </div>
</div>
<br>
<form action = "/logout?_method=DELETE" method="POST">
  <button type="submit" name="button">Log Out</button>
</form>

<%- include ("./partials/profile_footer") %>
