<%- include ("./partials/header") %>

<!-- User Details -->
<div class="user-data">
  <div class="user-msg">  Hi, <%= name %> </div>
  <div class="email" class="hidden" id="email"> <%= email%> </div>
</div>

<br>

<!-- Error in fetching user error -->
<div class="error" id="user-data-error"></div>
<br>

<!-- Transaction head -->
<div class="head"> Transactions </div>
<br>

<div class="search-form">
  <input type="text" id="search-input" name="" value="" placeholder="Enter Text">
  <button type="button" name="button" onclick="search()">Search</button>
</div>

<br>
<!-- container for tranctions -->
<div class="container" id="transactions"></div>
<br>

<!-- Proceed to logout -->
<form action = "/logout?_method=DELETE" method="POST">
  <button type="submit" name="button">Log Out</button>
</form>

<%- include ("./partials/transaction_footer") %>
